.calculadora{
	display: grid;
	position: relative;
	height: 640px;
	width: 1350px;
	background-color: #8470ff;
}
.cab{
	grid-area: cab;
}
.soma{
	grid-area: soma;
	background-color: gray;
	text-align: center;
}
.subi{
	grid-area: subi;
	background-color: gray;
	text-align: center;
}
.mult{
	grid-area: mult;
	background-color: gray;
	text-align: center;
}
.div{
	grid-area: div;
	background-color: gray;
	text-align: center;
}
.sete{
	grid-area: sete;
	background-color: white;
	text-align: center;
}
.oito{
	grid-area: oito;
	background-color: white;
	text-align: center;
}
.nove{
	grid-area: nove;
	background-color: white;
	text-align: center;
}
.quatro{
	grid-area: quatro;
	background-color: white;
	text-align: center;
} 
.cinco{
	grid-area: cinco;
	background-color: white;
	text-align: center;
} 
.seis{
	grid-area: seis;
	background-color: white;
	text-align: center;
}
.um{
	grid-area: um;
	background-color: white;
	text-align: center;
}
.dois{
	grid-area: dois;
	background-color: white;
	text-align: center;
}
.tres{
	grid-area: tres;
	background-color: white;
	text-align: center;
}
.zero{
	grid-area: zero;
	background-color: white;
	text-align: center;
}
.ponto{
	grid-area: ponto;
	background-color: white;
	text-align: center;
}
.C{
	grid-area: C;
	background-color: white;
	text-align: center;
}
.igual{
	grid-area: igual;
	background-color: white;
	text-align: center;
}
.cont{
	display: grid;
	height: 504px;
	width: 452px;
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	grid-template-areas: 
	"cab cab cab cab"
	"soma subi mult div"
	"sete oito nove igual"
	"quatro cinco seis igual"
	"um dois tres igual"
	"zero ponto C igual"
	;
	grid-gap: 1px;
}